/target/
/dist/

VodiaPBX-*-windows/
VodiaPBX-*-macos/

*.log
gui-crash.txt

*.pfx
*.p12
*.pem
*.key
*.crt

install-vodia-pbx.ps1
run-install-vodia-pbx.cmd
installation.txt

.DS_Store
Thumbs.db
.vscode/